<h1>Editing Student</h1>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to 'Zurück', @student, :class => "button", :class => "button" %>
	<!--<%= link_to 'Zurück', classname_path(@student.classname), :class => "button", :class => "button" %>-->
</div>
