<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<% if @students.present? %>
  <%= render 'list' %>
<% else %>
  <p>No students found</p>
<% end %>

<br>

<%= link_to 'New Student', new_student_path, :class => "button" %>