<% if notice != nil %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" style="display:inline">Schüler</h3>
    <%= link_to 'Neuer Schüler', new_student_path, :class => "btn btn-default pull-right" %>
  </div>
  <% if @students.present? %>
	  <%= render 'list' %>
  <% else %>
	  <p>Keine Schüler vorhanden</p>
  <% end %>
</div>
