<h1>Editing Copy</h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Anzeigen', @copy, :class => "button" %>
  <%= link_to 'Zurück', student_path(@copy.student), :class => "button" %>
</div>
