<p id="notice"><%= notice %></p>

<h1>Listing Copies</h1>

<% if @copies.present? %>
  <%= render 'list' %>
<% else %>
  <p>No copies found</p>
<% end %>

<br>

<%= link_to 'New Copy', new_copy_path, :class => "button" %>
