<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" style="display:inline">Kopien</h3>
    <%= link_to 'Neue Kopie', new_copy_path, :class => "btn btn-default pull-right" %>
  </div>
  <% if @copies.present? %>
	  <%= render 'list' %>
  <% else %>
	  <p>Keine Kopien vorhanden</p>
  <% end %>
</div>
