<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<% if @books.present? %>
  <%= render 'list' %>
<% else %>
  <p>No books found</p>
<% end %>

<br>

<%= link_to 'New Book', new_book_path, :class => "button" %>