<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>
<hr>
<%= link_to 'Neues Buch', new_book_path, :class => "btn btn-default btn-block" %>
<hr>

<% if @books.present? %>
	<%= render 'list' %>
<% else %>
	<p>No books found</p>
<% end %>

<br>
