<h1>Editing Classname</h1>

<%= render 'form' %>

<div class="btn-group">
    <%= link_to 'Show', @classname, :class => "button" %>
    <%= link_to 'Back', classnames_path, :class => "button" %>
</div>
