<p id="notice"><%= notice %></p>

<h1>Listing Classes</h1>
<hr>
<%= link_to 'New Class', new_classname_path, :class => "btn btn-default btn-block" %>
<hr>

<% if @classnames.present? %>
	<%= render 'list' %>
<% else %>
	<p>No classnames found</p>
<% end %>

<br>
