<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title" style="display:inline">Neue Klasse</h3>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<div class="btn-group">
			<%= link_to 'Zurück', classnames_path, :class => "button" %>
		</div>	
	</div>
</div>